<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rizvi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="Campus.WorkShop"></activity>
        <activity android:name="Campus.HallOfFame" />
        <activity android:name="Campus.Assocation" />
        <activity android:name="Campus.JashneRizvi" />
        <activity android:name="Campus.Ncc" />
        <activity android:name="Campus.Mphotos" />
        <activity android:name="Campus.Marathon2020" />
        <activity android:name="Campus.Infrastructure" />
        <activity android:name="Campus.Convocation2020" />
        <activity android:name=".CampusLife" />
        <activity android:name=".Staff" />
        <activity android:name="Lists.Collaborations" />
        <activity android:name="Lists.CertificateCDetails" />
        <activity android:name="Lists.DpBotDetais" />
        <activity android:name="Lists.DpComDetails" />
        <activity android:name="Lists.DpZoolDetails" />
        <activity android:name="Lists.DpChemDetails" />
        <activity android:name="Lists.DopList" />
        <activity android:name="Lists.MScDetails" />
        <activity android:name="Lists.MasterList" />
        <activity android:name="Lists.DegreeList" />
        <activity android:name="Lists.JrMcvcDetails" />
        <activity android:name="Lists.JrCommerceDetails" />
        <activity android:name="Lists.JrScienceDetails" />
        <activity android:name="Lists.JrArtsDetails" />
        <activity android:name="Lists.JuniorList" />
        <activity android:name=".Academics" />
        <activity android:name=".SignIn_SignUp" />
        <activity android:name="Models.Description_activity" />
        <activity android:name=".About_us" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>